<div class="row">
    <div class="col-lg-4 col-md-5">
        <div class="filter__sort">
            <span class="mx-2">Page Size</span>
            <select #myPageSelect (change)="updatePageSize(myPageSelect.value) ">
                <option>1</option>
                <option selected="true">3</option>
                <option value="1">6</option>
                <option value="2">9</option>
            </select>
        </div>
    </div>
    <div class="col-lg-4 col-md-5">
        <div class="filter__found">
            <h6><span>{{products.length}}</span> Products Found</h6>
        </div>
    </div>
</div>
<div class="row">
    <div *ngIf="products.length==0" class="alert alert-warning col-md-12" role="alert">
        Product Just Not Availables
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let tempProduct of products">
        <div class="product__item">
            <a routerLink="/products/{{tempProduct.id}}">
                <div class="product__item__pic set-big" style="background-image: url('../{{tempProduct.imageUrl}}');">
                    <ul class="product__item__pic__hover">
                        <li><a href=""><i class="fa fa-heart"></i></a></li>
                        <li><a href=""><i class="fa fa-retweet"></i></a></li>
                        <li><a routerLink="/cart-details"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
            </a>
            <div class="product__item__text">
                <h6><a routerLink="/products/{{tempProduct.id}}">{{tempProduct.name}}</a></h6>
                <h5>{{tempProduct.unitPrice | currency: 'USD'}}</h5>
                <button (click)="addToCart(tempProduct)" class="primary-btn">ADD TO CART</button>
            </div>
        </div>
    </div>
</div>
<ngb-pagination [(page)]="pageNumber" [pageSize]="pageSize" [collectionSize]="totalElements" [maxSize]="5" [boundaryLinks]="true"
    (pageChange)="listProducts()"></ngb-pagination>